<body data-turbo="false">
  <main class="container d-flex justify-content-center align-items-center">
    <div class="col-sm-4">
      <h1>Se connecter</h1>
      <br /><br />

      <%= form_with model: @user do |form| %>
        <div class="mb-1">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
        <br /><br />

        <div class="mb-1">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control" %>
        </div>
        <br /><br />

        <div class="mb-1">
          <%= form.submit "Enregistrer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </main>
</body>
